.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1.25) rotate(365deg);
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
 from {
  transform: rotate(0deg)
}
  to {
    transform: rotate(45deg) translateY(26px) translateX(28px)
  }
}

@keyframes middle {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(0)
  }
}

@keyframes bottom {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-45deg) translateY(-20px) translateX(21px)
  }
}
